{% extends 'base.html' %}
{% block content %}
    {% for clothe in clothes %}
    <ul>
            <li>Одежда: {{clothe.name}}</li>
            <li>Цена: {{clothe.sell_price}} ₸</li>
        {% autoescape off %}
            <li>Описание: {{clothe.description|linebreaks|truncatewords:20}}</li>
        {% endautoescape %}
            <div></div>
            <p><a href="{{ clothe.get_absolute_url }}">Смотреть Товар</a></p>
    </ul>
        {% if forloop.last %}
        <h3>Конец списка</h3>
        {% endif %}
    {% endfor %}
{% endblock %}