{% load static %}
{% load vainstorage_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link type="text/css" href="{% static 'vainstorage/css/styles.css' %}" rel="stylesheet" />
</head>

<body>
    <!-- Шапка и навигация -->
    <img src="#" class="logo">
    <a href="{% url 'home' %}"><p>COMPANY</p></a>

    <a href="{% url 'about' %}"><p>О НАС</p></a>
    <a href="{% url 'show_seasons' %}"><p>ОДЕЖДА</p></a>
    <a href="{% url 'contact' %}"><p>КОНТАКТЫ</p></a>

    <a href="{% url 'login' %}"><p>ВОЙТИ</p></a>
    <a href="{% url 'login' %}"><p>РЕГИСТРАЦИЯ</p></a>

    <!-- Основной контент -->
    <main class="main">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <!-- Подвал -->
    <footer class="footer">
        <div class="container">
            <p>&copy; 2026 COMPANY. Все права защищены.</p>
        </div>
    </footer>

</body>
</html>