{% extends 'base.html' %}
{% block content %}

<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome To VainClothes About!!!</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
                        <p align="justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis pretium lectus, in dapibus quam. Donec tristique, arcu imperdiet ullamcorper scelerisque, elit libero tempor diam, in volutpat tortor nunc sed est. Ut tempor, metus vitae accumsan ultricies, justo ex laoreet lacus, sit amet faucibus massa orci vitae nulla. Duis vitae posuere sem. Donec porttitor sapien eget nisi vestibulum euismod. Curabitur hendrerit lectus eu diam vulputate mollis. Fusce id massa dui.
                        <br/><br/>
                            Phasellus a porttitor lacus, sit amet condimentum lacus. Donec suscipit felis sed quam eleifend, at iaculis mi viverra. Aliquam luctus venenatis metus vel fermentum. Suspendisse tortor arcu, pulvinar vitae vestibulum vitae, sollicitudin nec lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis eu odio ut pharetra. Nulla facilisi. Nulla eu vehicula ex. Praesent malesuada blandit ullamcorper.
                        <br/><br/>
                            Maecenas id nulla ante. Etiam mollis nisi et finibus malesuada. Nullam lacinia erat ornare, egestas augue vitae, auctor sapien. Nullam ut justo pretium, pellentesque lectus sit amet, fermentum neque. In lobortis velit sed sapien sagittis consectetur. In velit mi, feugiat interdum risus sit amet, luctus bibendum augue. Aenean ullamcorper tellus id tempus aliquet. Sed quis nibh sollicitudin lacus facilisis sollicitudin. Praesent sagittis sollicitudin urna, sed vestibulum justo malesuada non. Morbi quis nulla lacus. Phasellus lobortis lobortis mauris sit amet dignissim. Donec ut tortor rhoncus, fermentum odio id, rutrum diam.
                        </p>
                        <br/><br/>
                    </div>
                </center>
            </div>
        </div>
{% endblock %}